@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #e9e9e9;
    font-family: Raleway;
    color: #444;
    font-size: 1.1em;
    /* ancho y centrado */
    width: 1024px;
    margin: auto;
}
header{
    height: 130px;
    background-color: #F08679;
}
/* selector compuesto */
    /* agrupamiento */
nav, footer{
    background-color: #EE7164;
    text-align: center;
}
nav{
    height: 60px;
}
/* selector compuesto */
    /* descendente */
    nav a{
        text-decoration: none;
        color: #F3E5D8;
        font-weight: 600;
        display: inline-block;
        padding: 20px 25px 16px 25px;
        border-bottom: 2px solid #EE7164;
    }
    nav a:hover{
        /* background-color: #F08679; */
        color: #F3E5D8;
        border-bottom: 2px solid #F3E5D8;
    }

main{
    min-height: 500px;
    background-color: #F3E5D8;
}

    #contenido{
        background-color: #e76042;
        width: 710px;
        height: 450px;
        margin-top: 25px;
        display: inline-block;
    }
    #promos{
        background-color: #fff;
        width: 306px;
        height: 450px;
        display: inline-block;
    }

footer{
    height: 150px;
}
    /* agrupamiento */
    #izquierda, #derecha{
        border: 1px dashed #F3E5D8;
        width: 150px;
        height: 40px;
        margin-top: 50px;
    }
    #izquierda{
        float: left;
        margin-left: 80px;
    }
    #derecha{
        float: right;
        margin-right: 80px;
    }