@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Raleway;
    font-weight: 600;
    font-size: 1.2em;
    color: #444;
    width: 900px;
    margin: auto;
}
    header{
        height: 80px;
        padding-top: 30px;
    }
    header nav{
        float: right;
    }
    header nav a{
        text-decoration: none;
        color: #444;
        padding: 0px 15px;
    }

    section{
        width: 700px;
        margin: 60px auto;
    }

    #primero figure{
        width: 587px;
        float: left;
    }
    #primero h2{
        padding-bottom: 20px;
    }
    #primero div{
        margin-top: 120px;
        margin-left: 30px;
        width: 280px;
        float: left;
    }
    #segundo{
        clear: both;
    }
    #segundo figure{
        width: 508px;
        float: left;
    }
    #segundo div{
        margin-top: 60px;
        margin-right: 30px;
        width: 280px;
        float: left;
    }
    #segundo h2{
        padding-bottom: 20px;
    }
